/* 

- Font sizes (px) 
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  max-width: 50rem;
  margin: 6rem auto;
  margin-bottom: 2rem;
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

h1 {
  font-size: 3rem;
}

header h1:nth-of-type(1) {
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}

header h1:nth-of-type(2) {
  color: hsl(234, 12%, 34%);
}

.description {
  text-align: center;
  color: hsl(229, 6%, 66%);
  font-size: 1.2rem;
  line-height: 1.5;
}

.features {
  padding: 3.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.feature-card {
  max-width: 35rem;
  box-shadow: 0 0.5rem 0.5rem 0.5rem rgba(84, 158, 242, 0.1);
  padding: 3.2rem;
  border-radius: 0.6rem;
  overflow: hidden;
}

.feature-heading {
  color: hsl(234, 12%, 34%);
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.feature-description {
  color: hsl(229, 6%, 66%);
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}

.feature-icon {
  display: block;
  margin-left: auto;
}

.features .feature-card:nth-child(1) {
  border-top: 0.35rem solid hsl(180, 62%, 55%);
  grid-row: 1/4;
  align-self: center;
}

.features .feature-card:nth-child(2) {
  border-top: 0.35rem solid hsl(0, 78%, 62%);
  grid-column: 2/3;
}

.features .feature-card:nth-child(3) {
  border-top: 0.35rem solid hsl(34, 97%, 64%);
  grid-column: 2/3;
}

.features .feature-card:nth-child(4) {
  border-top: 0.35rem solid hsl(212, 86%, 64%);
  grid-row: 1/4;
  grid-column: 3/-1;
  align-self: center;
}

@media (max-width: 40rem) {
  html {
    font-size: 50%;
  }

  .features {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .features .feature-card:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: center;
  }

  .features .feature-card:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/-1;
    justify-self: center;
  }

  .features .feature-card:nth-child(3) {
    grid-row: 3/4;
    grid-column: 1/-1;
    justify-self: center;
  }

  .features .feature-card:nth-child(4) {
    grid-row: 4/5;
    grid-column: 1/-1;
    justify-self: center;
  }

  h1 {
    font-size: 1.8rem;
  }
}
